<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wise.bottombar.sample">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/iconlogo"
        android:label="App Time Plus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen" android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FiveColorChangingTabsActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransNav" />
        <activity android:name=".AppPage" />
        <activity android:name=".Friends" />

        <service android:name=".BlockServ" />

        <receiver android:name=".RestartService">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>

        <activity android:name=".SignUp" android:screenOrientation="portrait"/>
        <activity android:name=".CheckUser" android:screenOrientation="portrait"/>
        <activity android:name=".FrList" android:screenOrientation="portrait"/>
        <activity android:name=".ChangeP" android:screenOrientation="portrait"/>
        <activity android:name=".About" android:screenOrientation="portrait"/>
        <activity android:name=".UploadPic" android:screenOrientation="portrait"/>
        <activity android:name=".FriendProfile" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>