<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wise.bottombar.sample">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.wise.bottombar.sample.SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/iconlogo"
        android:label="App Time Plus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wise.bottombar.sample.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wise.bottombar.sample.FiveColorChangingTabsActivity"
            android:theme="@style/AppTheme.TransNav" />
        <activity android:name="com.wise.bottombar.sample.AppPage" />
        <activity android:name="com.wise.bottombar.sample.Friends" />

        <service android:name="com.wise.bottombar.sample.BlockServ" />

        <receiver android:name="com.wise.bottombar.sample.RestartService">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>

        <activity android:name="com.wise.bottombar.sample.SignUp" />
        <activity android:name="com.wise.bottombar.sample.CheckUser" />
        <activity android:name="com.wise.bottombar.sample.FrList" />
        <activity android:name="com.wise.bottombar.sample.ChangeP" />
        <activity android:name="com.wise.bottombar.sample.About" />
        <activity android:name="com.wise.bottombar.sample.UploadPic" />
    </application>

</manifest>